@import "nullStyle";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$txt_color: #FF394A;
$txt_color2: #f12536;
$txt_color4: #101010;
$h2_fs: 30px;
$test: #0074BD;
$size_img_carrousel: 125px;

body {
  font-family: 'Azeret Mono', monospace;
}

//======================================================================================================//
//===========================================Canvas=====================================================//
//======================================================================================================//
.parentCanvas {
  position: relative;
  z-index: 1;

  canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.canvas {
  width: 100%;
  height: 100%;
}

//======================================================================================================//
//===========================================Canvas=====================================================//
//======================================================================================================//


//======================================================================================================//
//===========================================Biography==================================================//
//======================================================================================================//
%border_left {
  border-left: 1px solid $txt_color;
}

.wrap {

  display: flex;
  padding: 20px;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.49);
  //margin-bottom: 100px;
  img {
    width: 250px;
    height: 300px;
    margin-right: 10px;
  }
}
.hide_scroll{
  top:0;
  position: sticky;
}
.me {
  margin-right: 10px;
  transform: translate(-100px, 0);
  opacity: 0;
  transition: 1s;

  &:hover {
    border: 1px solid $txt_color;
    transition: 1s;
  }
}


.img__anim {
  transform: translate(0, 0);
  opacity: 1;
}

.bio {
  position: center;
  margin-left: 10px;
  width: 68%;
  color: $txt_color;
  transform: translate(120px, 0);
  opacity: 0;
  transition: 1s;

  .bio_title {
    width: 335px;
    h2 {
      color: $txt_color;
      margin-bottom: 10px;
      font-size: $h2_fs;
      font-weight: bold;
    }


  }

  p {
    padding: 10px 0 10px 10px;
    font-size: 18px;


  }
}
.line {
  width: 0;
  border-bottom: 1px solid $txt_color;
  margin: 0 auto;
  transition: 0.4s;
}
.line_anim {
  width: 330px;
}

.bio__anim {
  transform: translate(0, 0);
  opacity: 1;
}

//======================================================================================================//
//===========================================Biography==================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Carrousel==================================================//
//======================================================================================================//

.carrousel_wrap {
  z-index: 2;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 300px;
  padding: 20px;
  border-top: 1px solid $txt_color;
  border-bottom: 1px solid $txt_color;
  //margin-top: 300px;
}

.title {
  overflow: hidden;
  padding: 5px;

  h2 {
    text-align: center;
    font-weight: bold;
    color: $txt_color;
    font-size: $h2_fs;
    transform: translate(0, 20px);
    opacity: 0;
    transition: 1s;
  }
}

.title > h2.car_h2_anim {
  transform: translate(0, 0);
  opacity: 1;
}

.carrousel {
  display: flex;
  height: 150px;
  width: 1000px;
  overflow: hidden;
  align-items: center;
  margin: 20px auto;
  border-right: 2px solid $txt_color;
  border-left: 2px solid $txt_color;
  position: relative;

  .img_list {
    display: flex;
    justify-content: space-between;
    column-gap: 45px;
    transform: translate(0, 0);
    animation: carrousel 10s linear infinite;

    img {
      width: $size_img_carrousel;
      height: $size_img_carrousel;
    }
  }
}

@keyframes carrousel {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-1000px-20px, 0);
  }
}


//======================================================================================================//
//===========================================Carrousel==================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Projects===================================================//
//======================================================================================================//

.project_wrap{
  position: sticky;
  top:0;
  z-index: 1;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: $txt_color;
  border-top: 2px solid $txt_color;
  border-bottom: 2px solid $txt_color;
  margin-bottom: 300px;
  .project_title{

    h2{
      text-align: center;
      font-size: $h2_fs;
    }
  }
  .project_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 20px;
  }
  .project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0 solid $txt_color;
    //transition: border ease 0.2s;
    &:hover{
      border: 1px solid $txt_color;
    }
    &.project_anim{
      border: 1px solid $txt_color;
    }
    img{
      width: 300px;
      height: 250px;
    }
    h2{
      font-size: $h2_fs;
      opacity: 0;
      transition: 0.6s;
      &.proj_h2_anim{
        opacity: 1;
      }
    }
    h3{
      font-size: 18px;
      margin:  10px 0;
    }
    p{
      text-align: center;
      margin-bottom: 15px;
    }
    width: 350px;
    height: 450px;
    padding: 10px;
  }
}



//======================================================================================================//
//===========================================Projects===================================================//
//======================================================================================================//