@media screen and (max-width: 979px) {

  .header {
    width: 100%;


    .header_nav {
      display: none;
    }

    .header_body {

      .header_body_title {
        padding: 35px;
        column-gap: 30%;
        justify-content: normal;
        .language_btn {
          display: none;
        }

        .burger_button {
          display: block;
          position: absolute;
          right: 10px;
          top: 90px;
        }
      }
    }

    .header_body_img {
      img {
        width: 100%;
        margin: 0 auto;
      }
    }

  }

  .skills {
    .programs_skills {
      padding: 0 20px;
      width: 100%;
      justify-content: center;
      column-gap: 50px;
      row-gap: 30px;
      flex-wrap: wrap;
    }
  }

  .portfolio {

    .project {
      padding: 20px;

      img {
        width: 100%;
      }
    }
  }

}

@media screen and (max-width: 548px) {

  .header {

    .header_body {
      .header_body_title{
        flex-direction: column;
        align-items: start;
        height: 300px;
        p{
          margin-top: 0;
        }
      }
    }
  }
  .about_me{
    p{
      padding: 20px;
      width: 100%;
    }
  }

}


@media screen and (max-width: 480px){
  .header {

    .header_body {
      .header_body_img {
        width: 100%;
        padding: 20px;
        .img2 {
          display: block;
          width: 100%;
          margin: 0 auto;
        }

        .img1 {
          display: none;

        }
      }
    }
  }
}