@import "Const";

//======================================================================================================//
//===========================================Biography==================================================//
//======================================================================================================//
%border_left {
  border-left: 1px solid $txt_color;
}

.wrap {
  border-top: 2px solid $txt_color;
  border-bottom: 2px solid $txt_color;
  margin-bottom: 25%;
  margin-top: 15%;
  display: flex;
  padding: 20px;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.49);
  //margin-bottom: 100px;
  img {
    width: 230px;
    height: 270px;
    margin-right: 10px;
  }
}

.me {
  margin-right: 10px;
  transform: translate(-100px, 0);
  opacity: 0;
  transition: all 1s ease 0.5s;

  &:hover {
    border: 1px solid $txt_color;
    transition: 1s;
    box-shadow: $txt_color2 0 0 10px, $txt_color2 0 0 30px;
  }
}


._active {
  transform: translate(0, 0);
  opacity: 1;
}

.bio {

  margin-left: 10px;
  width: 68%;
  color: $txt_color;
  transform: translate(120px, 0);
  opacity: 0;
  transition: all 1s ease 1s;


  p {
    padding: 10px 0 10px 10px;
    font-size: $p_fs;

    a {
      color: $txt_color;
      font-weight: bold;
      font-size: $p_fs+1px;
      text-shadow: $txt_color2 0 0 0;
      transition: all 0.3s ease;

      &:hover {
        text-shadow: $txt_color2 0 0 10px;
      }
    }
  }
}

.bio > .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 10px;

}


.line {
  width: 0;
  border-bottom: 1px solid $txt_color2;
  margin: 0 auto;
  box-shadow: $txt_color2 0 0 0 0px;
  transition: all 0.4s ease 0s;
}


._active {
  transform: translate(0, 0);
  opacity: 1;
}

//======================================================================================================//
//===========================================Biography==================================================//
//======================================================================================================//
