@import "nullStyle";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

$txt_color: #850919;
$txt_color2: #c01723;
$txt_color3: #FF394A;
$txt_color4: #101010;
$h2_fs: 40px;
$p_fs: 20px;
$test: #0074BD;
$size_img_carrousel: 125px;

body {
  //font-family: 'Azeret Mono', monospace;
  font-family: 'Quicksand', sans-serif;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 10px;
}

.title > h2 {
  color: $txt_color2;
  margin-bottom: 10px;
  font-size: $h2_fs;
  font-weight: bold;
}

.layer {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

//======================================================================================================//
//===========================================Canvas=====================================================//
//======================================================================================================//
.parentCanvas {
  //position: fixed;
  //top: 0;
  z-index: 1;

  canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
}

.canvas {
  width: 100%;
  height: 100%;
}

//======================================================================================================//
//===========================================Canvas=====================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Navigation==================================================//
//======================================================================================================//

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
  align-items: center;
  width: 100%;
  background: black;
  height: 50px;
  border: 1px solid $txt_color2;

  &._nav_hide {
    left: 100%;
  }

  .menu {

    display: flex;
    justify-content: center;


    width: 700px;

    li {
      cursor: pointer;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 50px;
      border-left: 1px solid $txt_color2;
      border-right: 1px solid $txt_color2;
      transition: all 0.6s ease;

      a {
        color: $txt_color2;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.6s ease;
      }

      &:hover {
        box-shadow: inset 0 0 10px $txt_color2;

        a {
          transform: scale(1.1);
          text-shadow: 1px 0 3px $txt_color2;
        }
      }
    }
  }


}

.burger_btn {
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  background: black;
  z-index: 100;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  border: 1px solid $txt_color2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  row-gap: 5px;
  font-size: 40px;
  transition: all 0.6s ease;

  &:hover {
    box-shadow: inset 0 0 10px $txt_color2;
  }

  .l {
    background: $txt_color2;
    width: 30px;
    height: 3px;
    border-radius: 4px;
    transition: all 0.6s ease;
  }

  .l1 {
    transform: translate(0, 8px) rotate(-45deg);
  }

  .l2 {
    transform: translate(50px, 0);
  }

  .l3 {
    transform: translate(0, -8px) rotate(45deg);
  }


}

._burger_close {
  .l1 {
    transform: translate(0, 0) rotate(0);
  }

  .l2 {
    transform: translate(0, 0);
  }

  .l3 {
    transform: translate(0, 0) rotate(0);
  }
}

//======================================================================================================//
//===========================================Navigation==================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Biography==================================================//
//======================================================================================================//
%border_left {
  border-left: 1px solid $txt_color;
}

.wrap {
  border-top: 2px solid $txt_color;
  border-bottom: 2px solid $txt_color;
  margin-bottom: 25%;
  margin-top: 15%;
  display: flex;
  padding: 20px;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.49);
  //margin-bottom: 100px;
  img {
    width: 230px;
    height: 270px;
    margin-right: 10px;
  }
}

.me {
  margin-right: 10px;
  transform: translate(-100px, 0);
  opacity: 0;
  transition: all 1s ease 0.5s;

  &:hover {
    border: 1px solid $txt_color;
    transition: 1s;
    box-shadow: $txt_color2 0 0 10px, $txt_color2 0 0 30px;
  }
}


._active {
  transform: translate(0, 0);
  opacity: 1;
}

.bio {
  position: center;
  margin-left: 10px;
  width: 68%;
  color: $txt_color;
  transform: translate(120px, 0);
  opacity: 0;
  transition: all 1s ease 1s;


  p {
    padding: 10px 0 10px 10px;
    font-size: $p_fs;

    a {
      color: $txt_color;
      font-weight: bold;
      font-size: $p_fs+1px;
      text-shadow: $txt_color2 0 0 0;
      transition: all 0.3s ease;

      &:hover {
        text-shadow: $txt_color2 0 0 10px;
      }
    }
  }
}

.bio > .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: 10px;
}


.line {
  width: 0;
  border-bottom: 1px solid $txt_color2;
  margin: 0 auto;
  box-shadow: $txt_color2 0 0 0 0px;
  transition: all 0.4s ease 0s;
}


._active {
  transform: translate(0, 0);
  opacity: 1;
}

//======================================================================================================//
//===========================================Biography==================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Carrousel==================================================//
//======================================================================================================//

.carrousel_wrap {
  z-index: 2;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 400px;
  padding: 20px;
  border-top: 1px solid $txt_color;
  border-bottom: 1px solid $txt_color;
  overflow: hidden;


  //margin-top: 300px;
  .title {
    overflow: hidden;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
    transform: translate(0, 100%);
    opacity: 0;
    transition: all 0.6s ease 0s;


    &._active {
      transform: translate(0, 0);
      opacity: 1;
    }

    h2 {
      text-align: center;
      font-weight: bold;
      color: $txt_color2;
      font-size: $h2_fs;
      transform: translate(0, 20px);
      opacity: 0;
      transition: 1s;

      &.car_h2_anim {
        transform: translate(0, 0);
        opacity: 1;
      }
    }

  }


}


.carrousel {
  display: flex;
  height: 210px;
  width: 1000px;
  overflow: hidden;
  align-items: center;
  margin: 20px auto;
  border-right: 2px solid $txt_color;
  border-left: 2px solid $txt_color;
  //box-shadow: $txt_color2 0px 0px 15px 2px;
  position: relative;
  transform: translate(0, 100%);
  opacity: 0;
  transition: all 0.6s ease 0s;


  &._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .img_list {
    display: flex;
    justify-content: space-between;
    column-gap: 45px;
    transform: translate(0, 0);
    animation: carrousel 10s linear infinite;

    .list_el {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      h3 {
        color: $txt_color3;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        //border-bottom: 1px solid $txt_color3;
        //display: none;
        text-shadow: $txt_color2 0 0 18px, $txt_color2 0 0 30px, $txt_color2 0 0 60px, $txt_color2 0 0 100px;
        transform: translate(0, 100%) scale(0);
        opacity: 0;
        transition: all 0.3s ease 0s;

        &._h3_active {
          transform: translate(0, 0) scale(1);
          opacity: 1;
        }
      }

      img {
        width: $size_img_carrousel;
        height: $size_img_carrousel;
      }
    }


  }
}

@keyframes carrousel {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-1000px-20px, 0);
  }
}


//======================================================================================================//
//===========================================Carrousel==================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Knowledge==================================================//
//======================================================================================================//

.knowledge_wrap {
  //display: flex;
  padding: 0 0 20px 0;
  width: 100%;
  z-index: 4;
  overflow: hidden;
  //border-bottom: 1px solid $txt_color;
  background-color: rgba(0, 0, 0, 0.49);
  margin-bottom: 25%;


  p {
    font-size: $p_fs;
    padding: 0 10px;
    margin: 20px 0;
    color: $txt_color;
  }
}

.skill {
  border-bottom: 1px solid $txt_color;
  transform: translate(0, 100%);
  opacity: 0;
  transition: all 0.6s ease 0s;


  &._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .skill_title {
    background: black;
    box-shadow: inset 0 0 5px $txt_color, inset 0 0 7px $txt_color, inset 0 0 9px $txt_color, inset 0 0 18px $txt_color;
    font-size: $h2_fs;
    border-bottom: 1px solid $txt_color;
    border-left: 1px solid $txt_color;
    border-right: 1px solid $txt_color;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    margin: 0 20px 0 20px;
    //margin: 0 auto;
    text-align: center;
    //width: 400px;

    h2 {
      text-align: left;
      color: $txt_color2;
      font-weight: bold;
    }
  }

  .skill_list {
    display: flex;
    justify-content: center;
    padding: 30px;
    column-gap: 50px;
    flex-wrap: wrap;
    border-left: 1px solid $txt_color2;
    border-right: 1px solid $txt_color2;
    width: 1000px;
    margin: 0 auto;

    .skill_item {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: $size_img_carrousel;
        width: $size_img_carrousel;
      }

      h3 {
        margin-top: 10px;
        text-align: center;
        color: $txt_color2;
        font-weight: bold;
        font-size: 18px;
      }


      .rating {
        margin-top: 10px;
        height: 20px;
        display: flex;
        column-gap: 10px;
        color: grey;
        text-align: center;

        i {

          &._red {
            color: $txt_color2;
            animation: lighter 1.5s linear infinite 0.4s;

          }
        }
      }
    }
  }

}

@keyframes lighter {

  0% {
    text-shadow: 0 0 3px $txt_color, 0 0 5px $txt_color;
  }

  50% {
    text-shadow: 0 0 0 $txt_color, 0 0 0 $txt_color;
  }
  100% {
    text-shadow: 0 0 3px $txt_color, 0 0 5px $txt_color;
  }

}

//======================================================================================================//
//===========================================Knowledge==================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Projects===================================================//
//======================================================================================================//

.project_wrap {
  margin-bottom: 300px;
  z-index: 1;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-top: 2px solid $txt_color;
  border-bottom: 2px solid $txt_color;


  .title {
    margin: 0 auto;
    width: 230px;

    h2 {
      color: $txt_color2;
      text-align: center;
      font-size: $h2_fs;
      font-weight: bold;
    }


  }

  .project_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    row-gap: 200px;
    margin: 40px 20px;


    .project {
      display: flex;
      //flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: border ease;
      column-gap: 45px;
      width: 100%;
      //height: 450px;

      .project_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        transform: translate(100%, 0);
        opacity: 0;
        transition: all 0.6s ease 0s;

        &._active {
          transform: translate(0, 0);
          opacity: 1;
        }
      }

      h3 {
        text-align: center;
        color: $txt_color2;
        font-size: 26px;
        margin: 10px 0;
        font-weight: bold;
      }

      p {
        font-size: $p_fs;
        color: $txt_color;
        text-align: center;
        padding: 10px;
        margin-bottom: 15px;
      }

      .project_btns {
        display: flex;
        justify-content: center;
        margin: 15px 0;
        column-gap: 45px;
        width: 100%;


        .proj_btn_neon {
          padding: 10px 20px;
          color: $txt_color2;
          font-size: 20px;
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 3px;
          border: 1px solid $txt_color;
          overflow: hidden;
          transition: all 1s ease 0s;

          .neon_line {
            position: absolute;
            display: block;
          }

          .neon_line__top {
            top: 0;
            left: -100%;
            width: 100%;
            height: 5px;
            background: $txt_color2;
            //background: linear-gradient(90deg, transparent, $txt_color2);
            transition: all 0.6s ease;

          }

          &:hover .neon_line__top {
            left: 100%;
          }

          .neon_line__bottom {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 5px;
            background: $txt_color2;
            //background: linear-gradient(230deg, transparent, $txt_color2);
            transition: all 0.6s ease;

          }

          &:hover .neon_line__bottom {
            right: 100%;
          }

          .neon_line__left {
            left: 0;
            bottom: -100%;
            width: 5px;
            height: 100%;
            //background: linear-gradient(290deg, transparent, $txt_color2);
            background: $txt_color2;
            transition: all 0.6s ease;

          }

          &:hover .neon_line__left {
            bottom: 100%;
          }

          .neon_line__right {
            right: 0;
            top: -100%;
            width: 5px;
            height: 100%;
            //background: linear-gradient(190deg, transparent, $txt_color2);
            background: $txt_color2;
            transition: all 0.6s ease;

          }

          &:hover .neon_line__right {
            top: 100%;
          }

          &:hover {
            transition: all 0.5s ease 0.2s;
            box-shadow: $txt_color2 0 0 10px, $txt_color2 0 0 20px;
            background: $txt_color2;
            color: #000;
          }

        }
      }
    }


    .proj_img {
      margin: 0 auto;
      width: 500px;
      height: 350px;
      border: 0 solid $txt_color;
      border-radius: 10px;
      box-shadow: $txt_color2 0 0 0 0px;
      transform: translate(-100%, 0);
      opacity: 0;
      transition: all 0.6s ease;

      &._active {
        transform: translate(0, 0);
        opacity: 1;
      }

      &.proj_img_anim {
        border: 1px solid $txt_color;
        box-shadow: $txt_color2 0 0 15px 2px;
      }
    }

    .proj_line {
      margin: 20px auto;
      width: 0;
      border-bottom: 0 solid $txt_color;
      transition: all ease 0.4s;

      &.proj_line_anim {
        width: 100%;
        border-bottom: 1px solid $txt_color;
        box-shadow: $txt_color2 0 0 10px, $txt_color2 0 0 20px, $txt_color2 0 0 50px;
      }
    }


  }
}


//======================================================================================================//
//===========================================Projects===================================================//
//======================================================================================================//

//======================================================================================================//
//===========================================Footer===================================================//
//======================================================================================================//

.footer {
  //position: fixed;
  //z-index: -1;
  //bottom: 0;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: rgba(0, 0, 0, 0.49);

  &._footer_hide{
    opacity: 0;
  }

  h3{
    color: $txt_color;
    font-weight: bold;
  }


  .footer_title {

    p {
      color: $txt_color;
    }
  }
  .my_language{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 5px;
    color: $txt_color;
    h2{
      text-align: center;
    }
  }
}

.links {

  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 20px;

  a {
    color: $txt_color2;

    .link {
      text-align: center;
      overflow: hidden;
      width: 46px;
      height: 46px;
      font-size: 24px;
      border: 1px solid $txt_color2;
      padding: 10px;
      border-radius: 5px;
      transition: all 0.4s ease;

      &:hover {

        box-shadow: inset 0 0 10px $txt_color2;

        i {
          animation: linkAnim 0.3s linear;
        }
      }
    }
  }
}


@keyframes linkAnim {

  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -40px);
    opacity: 0;
  }

  75% {
    transform: translate(0, 40px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }

}


//======================================================================================================//
//===========================================Footer===================================================//
//======================================================================================================//


.line_anim {
  width: 98%;
  box-shadow: $txt_color2 0 0 15px 2px;
}


.bold {
  font-weight: bold;
}


//.project_wrap {
//  z-index: 1;
//  width: 100%;
//  background-color: rgb(0, 0, 0);
//  padding: 20px;
//  border-top: 2px solid $txt_color;
//  border-bottom: 2px solid $txt_color;
//
//  .title {
//    margin: 0 auto;
//    width: 230px;
//
//    h2 {
//      color: $txt_color2;
//      text-align: center;
//      font-size: $h2_fs;
//      font-weight: bold;
//    }
//
//    .line {
//      width: 0;
//      border-bottom: 1px solid $txt_color2;
//      margin: 10px auto;
//      transition: all ease 0.4s;
//    }
//
//    .line_anim {
//      width: 100%;
//
//    }
//  }
//
//  .project_list {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: space-between;
//    padding: 0 50px;
//    column-gap: 50px;
//    margin: 40px 20px;
//  }
//
//  .project {
//    display: flex;
//    //flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    transition: border ease;
//    width: 100%;
//    //height: 450px;
//
//
//    h3 {
//      text-align: center;
//      color: $txt_color2;
//      font-size: 20px;
//      margin: 10px 0;
//      font-weight: bold;
//    }
//
//    p {
//      font-size: $p_fs;
//      color: $txt_color;
//      text-align: center;
//      padding: 10px;
//      margin-bottom: 15px;
//    }
//
//    .proj_img {
//      margin: 0 auto;
//      width: 300px;
//      height: 250px;
//      border: 0 solid $txt_color;
//      border-radius: 10px;
//      box-shadow: $txt_color2 0 0 0 0px;
//      transition: all ease 0.4s;
//
//      &.proj_img_anim {
//        border: 1px solid $txt_color;
//        box-shadow: $txt_color2 0 0 15px 2px;
//      }
//    }
//
//    .proj_line {
//      margin: 20px auto;
//      width: 0;
//      border-bottom: 0 solid $txt_color;
//      transition: all ease 0.4s;
//
//      &.proj_line_anim {
//        width: 100%;
//        border-bottom: 1px solid $txt_color;
//        box-shadow: $txt_color2 0 0 10px, $txt_color2 0 0 20px, $txt_color2 0 0 50px;
//      }
//    }
//
//    .project_btns {
//      display: flex;
//      justify-content: space-around;
//      margin: 15px 0;
//      width: 100%;
//
//      a {
//        font-size: 20px;
//        padding: 5px;
//        color: $txt_color2;
//        border: 1px solid $txt_color2;
//        display: block;
//        position: relative;
//        border-radius: 5px;
//        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
//
//
//        &:hover {
//          color: black !important;
//          background: $txt_color2;
//          box-shadow: $txt_color2 0 0 15px 2px;
//        }
//        &:before {
//          display: block;
//          position: absolute;
//          top: 0;
//          left: 0;
//          height: 100%;
//          width: 0;
//          z-index: -1;
//          content: '';
//          color: #000 !important;
//          background: $txt_color2;
//          transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
//          //0s;
//        }
//        &:hover:before {
//          right: 0;
//          left: auto;
//          width: 100%;
//        }
//
//
//      }
//    }
//  }
//}